# Created by .ignore support plugin (hsz.mobi)
.idea/AlterCalcBot.iml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/watcherTasks.xml
.idea/workspace.xml
node_modules/
/src/telegram_token.js
